.movies-card-list {
    padding: 226px 70px 19px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-card-list__grid {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 32px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movies-card-list__add-button {
    margin: 50px auto 80px;
    min-width: 320px;
    min-height: 36px;
    background-color: #F9F9F9;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.movies-card-list__add-button:hover {
    background-color: #E8E8E8;

}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {}